*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.kotlin/
/build
.DS_Store
/captures
externalNativeBuild
.cxx

# Geçici olarak build başarısı için bunları yorum satırı yapıyoruz
# /google-services.json
# /serviceAccountKey.json

# App level
/app/build
/common/build
/desktop/build
